.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  height: 100px;
  font-size: large;
  border: 1px solid rgb(180, 180, 180);
  cursor: pointer;
}

button:hover, button:focus {
  background-color: aqua;
  border-color: blue;
}

h1, h3, p {
  font-weight: bold;
}

p {
  display: flex;
}

.number {
  margin-left: 6px;
}